.valign-outer {
	display:table;
	width:100%;
	height:100%;
	.valign-inner {
		display: table-cell;
		vertical-align: middle;
	}
}

.valign-large-outer {
	display: inherit;
	@media #{$large-up} {
		display:table;
		width:100%;
		height:100%;
		.valign-inner {
			display: table-cell;
			vertical-align: middle;
		}
	}
}

.valign-medium-outer {
	display: inherit;
	@media #{$medium-up} {
		display:table;
		width:100%;
		height:100%;
		.valign-inner {
			display: table-cell;
			vertical-align: middle;
		}
	}
}